@import "footer";

$color-primary: orange;
$color-secondary: gray;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav{
    background-color: mix(red,blue,50%);
    // background-color: transparentize( $color-primary, 0.2);
    // background-color: darken($color: $color-primary, $amount: 20%);
    // background-color: lighten($color: $color-primary, $amount: 20%);
    ul{
        li{
            list-style: none;

            a{
                text-decoration: none;
                font-size: $font-sm;
                color: $color-secondary;

                &:hover{
                    color: $color-tertiary;
                }
            }
        }
    }
}

// Mixin
@mixin headingStyles($fontSize){
    font-size: $fontSize;
    color: $color-secondary;
    text-align: center;
}

@mixin transitionEffect($param...){
    transition: $param;
}

%heading{
    color: $color-primary;
    font-size: $font-lg;
    background-color: $color-secondary;
    text-align: center;
}

h1{
    @extend %heading;
}

@function fontSize($size: 25px){
    @return $size*2;
}


.banner h1{
    // @include headingStyles($font-lg);
    @extend %heading;
    &:hover{
        background-color: green;
    }
}

.footer h3{
    // @include headingStyles($font-md);
    // @include transitionEffect(color .5s, background-color 1s);
    @extend %heading;

    &:hover{
        color: $color-tertiary;
        background-color: $color-primary;
    }
}

.footer p{
    font-size: fontSize();
}

.banner p{
    font-size: fontSize($font-sm);
}

